.employees {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	background-color: #91dba3;
}

.employees-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.employees-content {
	text-align: center;
	margin-top: 30px;
}

.employees-table {
	margin: 30px 0px 0px 0px;

	border: 1px solid grey;
	display: inline-block;
}
.employees-table th {
	border: 1px solid grey;
}
.employees-table td {
	border: 1px solid grey;
}

.employees-back {
	border: 1px solid grey;
	padding: 10px;
	position: absolute;
	top: 50px;
	left: 50px;
	transition: all 0.3s ease;
	border-radius: 3px;
}

.employees-back:hover {
	background-color: #def4e4;
}
