.inform-client {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	background-color: #91dba3;
}

.inform-client-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inform-client-button {
	margin-top: 35px;
}